/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status


# Private individual user cursor rules
.cursor/rules/
.cursor/backups/
.cursor/templates/
/docs/